---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { 
	title = "Nettoyage Professionnel à Toulouse | Proxi'Clean Services",
	description = "Proxi'Clean : Experts en nettoyage de bureaux, copropriétés et milieux industriels en Occitanie. Service réactif, agents formés et suivi de qualité."
} = Astro.props;
---

<!doctype html>
<html lang="fr" data-theme="light" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={`https://www.proxiclean-services.fr${Astro.url.pathname}`} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/logo2.png" />
		<meta property="og:url" content="https://proxiclean-services.fr" />
		<meta property="og:type" content="website" />
		<meta name="geo.region" content="FR-OCC" />
		<meta name="geo.placename" content="Toulouse">
	</head>
	<body class="bg-base-100 text-base-content flex flex-col min-h-screen antialiased">
		<Navbar />
		<main class="flex-grow">
		<slot /> </main>
		<Footer />

		<!-- FLECHE A DROITE QUI PERMET DE REVENIR EN HAUT DES LE PREMIER SCROLL -->
		<!-- <button 
			id="back-to-top" 
			class="fixed bottom-8 right-8 z-50 p-3 rounded-full bg-primaryTheme text-white shadow-lg translate-y-20 opacity-0 transition-all duration-300 hover:bg-secondaryTheme focus:outline-none"
			aria-label="Retour en haut"
		>
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
			</svg>
		</button>

		<script>
			const scrollBtn = document.getElementById("back-to-top");

			// On vérifie que le bouton existe bien avant de lui ajouter des événements
			if (scrollBtn) {
				window.addEventListener("scroll", () => {
					if (window.scrollY > 300) {
						scrollBtn.classList.remove("translate-y-20", "opacity-0");
						scrollBtn.classList.add("translate-y-0", "opacity-100");
					} else {
						scrollBtn.classList.remove("translate-y-0", "opacity-100");
						scrollBtn.classList.add("translate-y-20", "opacity-0");
					}
				});

				scrollBtn.addEventListener("click", () => {
					window.scrollTo({
						top: 0,
						behavior: "smooth"
					});
				});
			}
		</script> -->

	</body>
</html>
